{% extends "base.html" %}

{% load static %}
{% block content %}
    <h2>Project list:</h2>
    <ul>
        {% for project in projects %}
            <div class="project">
                <div class="name">
                    <a href="{% url 'projects:project_detail' project.name %}">{{ project.name }}</a>
                </div>
                <div class="date">
                    {{ project.create_date }}
                </div>
                <div class="description">
                    {{ project.description }}
                </div>
            </div>
        {% endfor %}
    </ul>
    <p>User: {{ request.user }}</p>
{% endblock content %}