{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'projects/css/project_list.css' %}">
{% endblock extra_head %}
{% block content %}
    {% for project in projects %}
        <div class="project">
            <div class="name">
                <a href="{% url 'projects:project_detail' project.name %}">{{ project.name }}</a>
            </div>
            <div class="date">
                {{ project.create_date }}
            </div>
            <div class="description">
                {{ project.description }}
            </div>
        </div>
    {% endfor %}
{% endblock content %}