{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'projects/css/robject_list.css' %}">
    <script src="{% static 'projects/js/robject_list/search_bar.js' %}"></script>
    <script src="{% static 'projects/js/robject_list/check_out_all.js' %}"></script>

{% endblock extra_head %}
{% block content %}
<!-- ACTION MENU -->
    <div class="action-menu">
    <!-- ACTIONS -->
       {% include "projects/robject_list_snippets/actions.html" %}
    <!-- END ACTIONS -->
    <!-- SEARCH BAR -->
        {% include "projects/robject_list_snippets/search_bar.html" %}
    <!-- END SEARCH BAR -->
    </div>
<!-- END ACTION MENU -->
<!-- TABLE -->
    {% render_table table %}
<!-- END TABLE -->
{% endblock content %}