{% extends 'base.html' %}
{% load render_bundle from webpack_loader %} 
{% load staticfiles %}
{% load bootstrap3 %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'projects/css/robject_create.css' %}">
    <script data-main="{% static 'projects/js/robject_create.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock extra_head %}

{% block content %}

    <p><span>Created at: {{ object.create_date }}</span><br/><span>Last modified: {{ object.modify_date }}</span></p>

    <form action="" method="post">
        {% csrf_token %}
        <div class="name-forms">
            {% for form in formgroup %}
                {% if not form.prefix == 'group-robject' %}
                    <div class="name-form">
                        <div class="name-form-content">
                            <button type="button" class="btn btn-sm delete-button">delete</button>
                            {{ form.as_p }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button type="button" class="btn btn-sm add-button">Add</button>
        <div class="robject-form">
            {{ formgroup.robject.as_p }}
        </div>
        <button class="btn">Submit</button>
    </form>
{% endblock %}