<div class="dropdown actions">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        Actions
        <span class="glyph caret"></span>
    </button>
    <ul class="dropdown-menu" >
        <form id="actions-form" method="post" action=".">
            {% csrf_token %}
            <input type="hidden" name="actions-form" value="true">
            <button class="action-link" type="submit">
                Delete
            </button>
            <button class="action-link" type="submit" formaction=".">Show details</button>
        </form>
    </ul>
</div>