<div class="dropdown actions">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        Actions
        <span class="glyph caret"></span>
    </button>
    <ul class="dropdown-menu" >
        <form id="actions-form" method="post" action=".">
            {% csrf_token %}
            <input type="hidden" name="actions-form" value="true">
            <button class="action-link" type="submit">
                Delete
            </button>
            <button class="action-link" type="submit" formaction=".">Show details</button>
        </form>
    </ul>
    <a class="btn btn-primary" href="{% url 'projects:robject_create' project_name=kwargs.project_name number_of_name_forms=1 %}">Create new</a> {# Create button! #}
</div>