.selection {
    width: 40px;
}

.action-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.action {
    /*float: left;*/
    /*clear: left;*/
}

.search-input-wrapper, .search input, .search button {
    height: 100%;
}

.search-input-wrapper {
    display: inline-block;
    position: relative;
}
.filter-dropdown-content {
    position: absolute;
    border: solid thin;
    top: 102%;
    /*width: 100%;*/
    background-color: white;
    padding: 10px;
    display: none;
    outline: none;
}

.actions .dropdown-menu {
    /*height: 100%;*/
}

.action-link {
    display: block;
    width: 100%;
} 

table {
    margin-top: 20px;
}
thead {
    background-color: #e7e7e7;
}